version: "3.3"

services:
  nbwt_db:
    container_name: nbwt_db
    image: postgres:12-alpine
    restart: always

    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: nbwt
      POSTGRES_PASSWORD: docker

    volumes:
      - db:/var/lib/postgresql/data

    networks:
      nbwt_network:
        aliases:
          - db

  nbwt_web:
    container_name: nbwt_web
    image: nbwt
    restart: always
    build: .
    command: python manage.py runserver 0.0.0.0:8080
    environment:
      DEBUG: "False"
      HOST: web
      DB_HOST: db
      DP_PORT: 5432
      DB_USERNAME: postgres
      DB_PASSWORD: docker
      DB_NAME: nbwt
      BASE_URL: localhost:8000

    depends_on:
      - nbwt_db

    volumes:
      - media:/home/usr/media
      - static_files:/home/usr/static
      - logs:/home/usr/logs

    networks:
      nbwt_network:
        aliases:
          - web

  nbwt_proxy:
    container_name: nbwt_proxy
    image: nginx:stable-alpine
    restart: always
    depends_on:
      - nbwt_web
    ports:
      - "8000:8000"

    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_files:/media/static
      - media:/media/media

    networks:
      nbwt_network:
        aliases:
          - proxy

volumes:
  db:
  static_files:
  media:
  logs:

networks:
  nbwt_network: